﻿@{
    ViewData["Title"] = "Suppliers";
    Layout = "_Layout";
}
@model List<FinalProject.AdditionalModels.SupplierViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link rel="stylesheet" href="~/css/site.css">

<div class="customers-page">

    <div class="options">
        <h4>Order by</h4>
        <div>
            <ul>
                <li><a asp-controller="Suppliers" asp-action="OrderByName">Contact name</a></li>
                <li><a asp-controller="Suppliers" asp-action="OrderByCompany">Company name</a></li>
                <li><a asp-controller="Suppliers" asp-action="OrderByCity">City</a></li>
                <li><a asp-controller="Suppliers" asp-action="OrderByCountry">Country</a></li>
                <li><a asp-controller="Suppliers" asp-action="OrderByProduct">Product name</a></li>
                <li><a asp-controller="Suppliers" asp-action="OrderByQuantity">Quantity per unit</a></li>
            </ul>
            <form asp-controller="Suppliers" asp-action="Index">
                <button class="options-button" type="submit">Reset</button>
            </form>
        </div>
    </div>

    <div class="page-container">
        <div class="customerpage-container">
            <div class="bg-image"></div>
            <h1>Top 25 suppliers</h1>
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>Contact name</th>
                        <th>Company name</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Product name</th>
                        <th>Quantity per unit</th>
                    </tr>
                 </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ContactName</td>
                            <td>@item.CompanyName</td>
                            <td>@item.City</td>
                            <td>@item.Country</td>
                            <td>@item.ProductName</td>
                            <td>@item.QuantityPerUnit</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



