﻿@{
    ViewData["Title"] = "Registration";
    Layout = null;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model FinalProject.AdditionalModels.RegistrationBindingModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
    <title>Registration</title>
</head>
<body class="registration-body">
    <div class="container">
        <div class="registration-form_box">
            <h1>Registration</h1>
            <form asp-action="Register" method="post">
                <div>
                    <input type="text" asp-for="Login" placeholder="Username">
                    <span asp-validation-for="Login" class="error-message"></span>
                </div>
                <div>
                    <input type="email" asp-for="Email" placeholder="Email">
                    <span asp-validation-for="Email" class="error-message"></span>
                </div>
                <div>
                    <input type="password" asp-for="Password" placeholder="Password">
                    <span asp-validation-for="Password" class="error-message"></span>
                </div>
                <button type="submit" class="SignUpButton">Sign up</button>
            </form>
        </div>
    </div>

</body>
</html>