﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Your Website</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header-container">
                <div class="first-part">
                    <div class="logo">
                        <img class="logo-img"src="~/Images/icon.png" alt="Logo">
                    </div>

                    <nav class="header-nav">
                        <a asp-controller="MainPage" asp-action="Index">Home</a>
                        <a asp-controller="Customers" asp-action="Index">Customers</a>
                        <a asp-controller="Suppliers" asp-action="Index">Suppliers</a>
                        <a asp-controller="Product" asp-action="Index">Products</a>
                        <div class="dropdown">
                            <a href="#">Admin</a>
                            <div class="dropdown-content">
                                <a asp-controller="Admin" asp-action="Customer">Customers</a>
                                <a asp-controller="Admin" asp-action="Supplier">Suppliers</a>
                                <a asp-controller="Admin" asp-action="Product">Products</a>
                            </div>
                        </div>
                    </nav>
                </div>

                <div class="second-part">
                    <form asp-controller="Mainpage" asp-action="Search" method="post">
                        <div class="search">
                            <input type="text" name="searchText" placeholder="Search..." required>
                            <button id="search-button"><i class="fas fa-search"></i></button>
                        </div>

                        <div>
                            <label>
                                <input type="radio" name="searchOption" value="supplier" required>
                                Supplier
                            </label>

                            <label>
                                <input type="radio" name="searchOption" value="category" required>
                                Category
                            </label>

                            <label>
                                <input type="radio" name="searchOption" value="product" required>
                                Product
                            </label>
                        </div>
                    </form>

                    <div class="exit"> 
                        <a asp-controller="Autorisation" asp-action="Index"><img src="~/Images/exit.png" alt="Exit"/></a>
                    </div>
                </div>
            </div>
        </header>
    
        @RenderBody()
@*        <div class="page-container">
            <div class="mainpage-container">
                <div class="bg-image"></div>
                @RenderBody()
            </div>
        </div>
*@

        <footer class="footer">
            <div class="social-icons">          
                <a href="https://uk-ua.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://twitter.com/?lang=ru"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></i></a>
            </div>

            <div class="footer-info">
                <p>&copy;Tymofii Khomych</p>
            </div>
        </footer>
    </div>
</body>
</html>
