* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
}

html {
    font-family: Arial, sans-serif;
    font-size: 16px;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.registration-body,
.autorisation-body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.registration-body,
.autorisation-body {
    background-image: url("../Images/AutorisePage.jpg");
}

.bg-image {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: -30vh;
    right: 0;
    left: 0;
    background-color: lightblue;
    background-image: url("../Images/mainpage.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-image,
.testbody {
    background-image: url("../Images/mainpage.jpg");
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.autorisation-form_box,
.registration-form_box,
.mainpage-form_box {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 300px;
    max-width: 100%;
}

.autorisation-form_box,
.registration-form_box {
    width: 500px;
    text-align: center;
}

.mainpage-form_box {
    max-width: 50%;
}


.autorisation-form_box h1,
.registration-form_box h1 {
    margin-bottom: 20px;
}

.mainpage-form_box h1,
.mainpage-form_box h2,
.page-container h1,
.page-container h2 {
    text-align: center;
}

.autorisation-form_box input,
.registration-form_box input,
.customerLeftPanel input,
.customerRightPanel input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.autorisation-form_box button,
.registration-form_box button,
.options-button,
.range-button,
.customerLeftPanel button,
.customerRightPanel button {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.registration-form_box button{
    margin-top: 10px;
}

.autorisation-form_box button:hover,
.registration-form_box button:hover,
.options-button:hover {
    background: #0056b3;
}

.autorisation-form_box a {
    text-decoration: none;
    color: #007BFF;
}

.autorisation-form_box a:hover {
    text-decoration: underline;
}

.error-message {
    color: #ff0000;
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}
.success-message {
    color: forestgreen;
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}
.SignUpButton {
    margin-bottom: 30px;
}

.header {
    width: 100%;
    background-color: #aabddb;
}

.header-container,
.manepage-container,
.notfound-container,
.search-container,
.logo,
.footer,
.social-icons,
.footer-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-container {
    justify-content: space-between;
    padding: 20px 50px;
    min-height: inherit;
    background-color: rgba(255, 255, 255, 0.9);
}

.logo img,
.exit img {
    height: 50px;
}

.first-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: inherit;
    width:60%;
}

.second-part {
    display: flex;
    justify-content: end;
    align-items: center;
    min-height: inherit;
    width: 40%;
    gap: 50px;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
}

.search input[type="text"] {
    border: none;
    flex: 1;
    padding: 5px;
}

.search button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header-nav {
    display: flex;
    text-align: center;
}

.header-nav a {
    display: inline-block;
    text-decoration: none;
    padding: 15px 35px;
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
}

.header-nav a:hover {
    background: #2584ef;
    color: white;
}

.page-container,
.options,
.customerLeftPanel,
.customerRightPanel {
    margin-top: 80px;
    margin-bottom: 80px;
    justify-content: center;
    height: 100%;
    flex: 1 1 auto;
}

.page-container {
    display: flex;
}

.mainpage-container,
.customerpage-container,
.product-container,
.notfound-container,
.adminpage-container,
.search-container,
.options,
.customerLeftPanel,
.customerRightPanel,
.supplierAdminContainer {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
}

.mainpage-container {
    max-width: 60%;
}
.mainpage-content {
    display: flex;
    align-items: center;
    gap: 20px;
}


.mainpage-content_text1 {
    flex: 1;
}

.image1 img {
    max-width: 80%;
    height: auto;
}

.image2 img {
    max-width: 100%;
    height: auto;
}

.footer {
    justify-content: center;
    flex-direction: column;
    min-height: 8vh;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.7);
    color: #000;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
    color: black;
    font-size: 36px;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.custom-table th,
.custom-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.custom-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.custom-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.customers-page {
    display: flex;
    padding: 20px;
}

.options,
.customerLeftPanel,
.customerRightPanel {
    max-width: 275px;
}

.options ul li {
    list-style: none;
}

.options ul li a {
    text-decoration: none;
    background: none;
    border: none;
    padding: 0;
    font-size: inherit;
    cursor: pointer;
    color: #007BFF;
}

.options ul li a:hover {
    color: black;
}

.options-button{
    margin-bottom: 5px;
}

.customerpage-container {
    min-height: 900px;
}

.search-option {
    display: flex;
}

.notfound-container,
.search-container {
    justify-content: center;
    min-width: 30%;
    height: 400px;
}

.product-container,
.customerpage-container,
.adminpage-container {
    min-width: 70%;
}

.range-button {
    margin-top: 10px;
    background-color: #007BFF;
}

.range-button:hover {
    background-color: #0056b3;
}

.price-range-values {
    margin-top: 5px;
}

.admin-page
.admin-page_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-page {
    flex-direction:column;
}

.admin-page_buttons {
    flex-direction: row;
    gap: 20px;
    min-width: 650px;
    min-height: 100px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    margin-bottom: 40px;
}

.admin-page_buttons button {
    font-size: 20px;
    padding: 20px 40px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background: #2584ef;
    color: white;
}

.supplierAdminContainer {
    max-width: 95%;
}