﻿@{
    ViewData["Title"] = "Admin customers page";
    Layout = "_Layout";
}
@model List<FinalProject.Models.Customer>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link rel="stylesheet" href="~/css/site.css">

<div class="customers-page">

    <div class="customerLeftPanel">
        <h1>Redact:</h1>
        <form asp-controller="Admin" asp-action="CustomerRedact" method="post">
            <input type="text" name="CustomerId" placeholder="Customer Id" required>
            <input type="text" name="CompanyName" placeholder="Company name">
            <input type="text" name="ContactName" placeholder="Contact name">
            <input type="text" name="ContactTitle" placeholder="Contact title">
            <input type="text" name="Address" placeholder="Address">
            <input type="text" name="City" placeholder="City">
            <input type="text" name="Region" placeholder="Region">
            <input type="text" name="PostalCode" placeholder="PostalCode">
            <input type="text" name="Country" placeholder="Country">
            <input type="text" name="Phone" placeholder="Phone">
            <input type="text" name="Fax" placeholder="Fax">
            <p class="error-message">@TempData["ErrorMessageRedact"]</p>
            <p class="success-message">@TempData["SuccessMessageRedact"]</p>
            <button type="submit">Redact</button>
        </form>

        <h1>Delete:</h1>
         <form asp-controller="Admin" asp-action="CustomerDelete" method="post">
            <input type="text" name="CustomerId" placeholder="Customer Id" required>
            <p class="error-message">@TempData["ErrorMessageDelete"]</p>
            <p class="success-message">@TempData["SuccessMessageDelete"]</p>
            <button type="submit">Delete</button>
        </form>
    </div>

    <div class="page-container">
        <div class="customerpage-container">
            <div class="bg-image"></div>
            <h1>Top 50 customers</h1>
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>Contact name</th>
                        <th>Customer Id</th>
                        <th>Company name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ContactName</td>
                            <td>@item.CustomerId</td>
                            <td>@item.CompanyName</td>
                            <td>@item.Address</td>
                            <td>@item.City</td>
                            <td>@item.Country</td>
                            <td>@item.Phone</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="customerRightPanel">
        <h1>Add:</h1>
        <form asp-controller="Admin" asp-action="CustomerAdd" method="post">
            <input type="text" name="CustomerId" placeholder="Customer Id" required>
            <input type="text" name="CompanyName" placeholder="Company name" required>
            <input type="text" name="ContactName" placeholder="Contact name" required>
            <input type="text" name="ContactTitle" placeholder="Contact title" required>
            <input type="text" name="Address" placeholder="Address" required>
            <input type="text" name="City" placeholder="City" required>
            <input type="text" name="Region" placeholder="Region">
            <input type="text" name="PostalCode" placeholder="PostalCode" required>
            <input type="text" name="Country" placeholder="Country" required >
            <input type="text" name="Phone" placeholder="Phone" required>
            <input type="text" name="Fax" placeholder="Fax" required>
            <p class="error-message">@TempData["ErrorMessageAdd"]</p>
            <p class="success-message">@TempData["SuccessMessageAdd"]</p>
            <button type="submit">Submit</button>
        </form>
    </div>

</div>



