﻿@{
    ViewData["Title"] = "Admin products page";
    Layout = "_Layout";
}
@model List<FinalProject.AdditionalModels.ProductViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link rel="stylesheet" href="~/css/site.css">

<div class="customers-page">

    <div class="customerLeftPanel">
        <h1>Redact:</h1>
        <form asp-controller="Admin" asp-action="ProductRedact" method="post">
            <input type="text" name="ProductId" placeholder="Product Id" required>
            <input type="text" name="ProductName" placeholder="Product name">
            <input type="text" name="QuantityPerUnit" placeholder="Product name">
            <input type="text" name="UnitPrice" placeholder="Product title">
            <input type="text" name="UnitsInStock" placeholder="Units in stock">
            <input type="text" name="UnitsOnOrder" placeholder="Units on order">
            <input type="text" name="ReorderLevel" placeholder="Reorder level">
            <p class="error-message">@TempData["ErrorMessageRedact"]</p>
            <p class="success-message">@TempData["SuccessMessageRedact"]</p>
            <button type="submit">Redact</button>
        </form>

        <h1>Delete:</h1>
        <form asp-controller="Admin" asp-action="ProductDelete" method="post">
            <input type="text" name="ProductId" placeholder="Product Id" required>
            <p class="error-message">@TempData["ErrorMessageDelete"]</p>
            <p class="success-message">@TempData["SuccessMessageDelete"]</p>
            <button type="submit">Delete</button>
        </form>
    </div>

    <div class="page-container">
        <div class="product-container">
            <div class="bg-image"></div>
            <h1>Products</h1>
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>Product Id</th>
                        <th>Product name</th>
                        <th>Quantity per unit</th>
                        <th>Unit price</th>
                        <th>Units in stock</th>
                        <th>Category name</th>
                        <th>Total quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ProductId</td>
                            <td>@item.ProductName</td>
                            <td>@item.QuantityPerUnit</td>
                            <td>@item.UnitPrice</td>
                            <td>@item.UnitsInStock</td>
                            <td>@item.CategoryName</td>
                            <td>@item.TotalQuantity</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="customerRightPanel">
        <h1>Add:</h1>
        <form asp-controller="Admin" asp-action="ProductAdd" method="post">
            <input type="text" name="ProductName" placeholder="Product name" required>
            <input type="text" name="SupplierId" placeholder="Supplier Id" required>
            <input type="text" name="CategoryId" placeholder="Category Id" required>
            <input type="text" name="QuantityPerUnit" placeholder="Quantity per unit" required>
            <input type="text" name="UnitPrice" placeholder="Unit price" required>
            <input type="text" name="UnitsInStock" placeholder="Units in stock" required>
            <input type="text" name="UnitsOnOrder" placeholder="Units on order" required>
            <input type="text" name="ReorderLevel" placeholder="reorder level" required>
            <p class="error-message">@TempData["ErrorMessageAdd"]</p>
            <p class="success-message">@TempData["SuccessMessageAdd"]</p>
            <button type="submit">Submit</button>
        </form>
    </div>

</div>



