﻿@{
    ViewData["Title"] = "Main page";
    Layout = "_Layout";
}

<div class="page-container">
    <div class="mainpage-container">
        <div class="bg-image"></div>
        <h1>Морські перевезення</h1>
        <div class="mainpage-content">
            <div class="mainpage-content_text1">
                <p>Міжнародні морські вантажоперевезення від нашої компанії є вигідним і популярним способом перевезення вантажів, 
                    особливо великих партій між країнами і материками. Морські контейнерні перевезення відповідають усім вимогам доставки, 
                    які оптимізовані на кожному етапі. Ми беремо на себе весь процес підготовки вантажу до транспортування, починаючи з 
                    документального супроводу та закінчуючи доставкою у потрібне місце. Так, перевезення наливних вантажів морем 
                    здійснюється танком-контейнером. Також ми використовуємо їх, щоб перевезення небезпечних вантажів морем було 
                    безпечним та екологічним. Незалежно від того, є у країни-адресата вихід на море (океан) чи ні, ми доставимо 
                    вантаж у будь-якому випадку, використовуючи мультимодальні перевезення з доставкою вантажу до найближчого порту 
                    наземним транспортом.
                </p>
            </div>
            <div class="image1">
                <img src="~/Images/mainpage_photo1.jpg" alt="Photo">
            </div>
        </div>
        <h2>Переваги міжнародних морських вантажоперевезень</h2>
        <div class="mainpage-content">
            <div class="image2">
                <img src="~/Images/mainpage_photo2.jpg" alt="Photo">
            </div>
            <div class="mainpage-content_text">
                <p>Доставка вантажів морем має деякі недоліки (тривалість шляху, наприклад), але при цьому багато позитивних 
                    моментів:
                </p>
                <ul>
                    <li><p>висока ергономічність морського транспорту, що зменшує витрати;</p></li>
                    <li><p>можливість перевозити великі партії вантажів усіх видів;</p></li>
                    <li><p>доступ до всіх точок світу з наявністю портів;</p></li>
                    <li><p>оперативні перевалочні процедури;</p></li>
                </ul>
                <p>Логістика морських перевезень складена таким чином, щоб кожен рейс був максимально вигідним для клієнтів. 
                    Вантажоперевезення морем можуть бути збірні, починаючи від 50 кілограмів.
                </p>
                <p>Наші вантажоперевезення морським транспортом – це один із найнадійніших та найбезпечніших видів транспортування. 
                    Тому ми співпрацюємо з найбільшими підприємствами, які потребують систематичних доставок вантажу у різні точки 
                    планети. Вантажні морські перевезення дозволяють доставити транспортні засоби, обладнання, техніку та інший 
                    вантаж на великі відстані.
                </p>
            </div>
        </div>
    </div>
</div>
