﻿@{
    ViewData["Title"] = "Search";
    Layout = "_Layout";
}

@model FinalProject.AdditionalModels.SearchViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="page-container">
    <div class="notfound-container">
        <div class="bg-image"></div>
        <h1>Can not find <span style="color: #2584ef;">@Model.SearchText</span> in <span style="color: #2584ef;">@Model.SearchOption</span></h1>
    </div>
</div>