﻿@{
    ViewData["Title"] = "Search";
    Layout = "_Layout";
}

@model FinalProject.AdditionalModels.SearchViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="page-container">
    <div class="search-container">
        <div class="bg-image"></div>
        <h1>Result of search <span style="color: #2584ef;">@Model.SearchText</span> in <span style="color: #2584ef;">@Model.SearchOption</span></h1>
        <table class="custom-table">
            <tbody>
                @if (Model.SupplierResults != null && Model.SupplierResults.Any())
                {
                <thead>
                    <tr>
                        <th>Contact name</th>
                        <th>Company name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                    foreach (var item in Model.SupplierResults)
                    {
                    <tr>
                        <td>@item.CompanyName</td>
                        <td>@item.ContactName</td>
                        <td>@item.Address</td>
                        <td>@item.City</td>
                        <td>@item.Country</td>
                        <td>@item.Phone</td>
                    </tr>
                    }
                }

                @if (Model.CategoryResults != null && Model.CategoryResults.Any())
                {
                <thead>
                    <tr>
                        <th>Category Id</th>
                        <th>CategoryName</th>
                        <th>Description</th>
                    </tr>
                </thead>
                    foreach (var item in Model.CategoryResults)
                    {
                    <tr>
                        <td>@item.CategoryId</td>
                        <td>@item.CategoryName</td>
                        <td>@item.Description</td>
                    </tr>
                    }
                }

                @if (Model.ProductResults != null && Model.ProductResults.Any())
                {
                <thead>
                    <tr>
                        <th>Product name</th>
                        <th>Quantity per unit</th>
                        <th>Unit price</th>
                        <th>Description</th>
                        <th>Units in stock</th>
                        <th>Units on order</th>
                    </tr>
                </thead>
                    foreach (var item in Model.ProductResults)
                    {
                    <tr>
                        <td>@item.ProductName</td>
                        <td>@item.QuantityPerUnit</td>
                        <td>@item.UnitPrice</td>
                        <td>@item.UnitsInStock</td>
                        <td>@item.UnitsOnOrder</td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>