﻿@{
    ViewData["Title"] = "Autorisation";
    Layout = null;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model FinalProject.Models.User

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
    <title>Sea Shipping App</title>
</head>
<body  class="autorisation-body">
    <div class="container">
        <div class="autorisation-form_box">
            <h1>Sea Shipping App</h1>
            <form asp-action="Autorize" method="post">
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="success-message">
                        @TempData["SuccessMessage"]
                    </div>
                }
                <input type="text" name="login" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <p class="error-message">@ViewBag.ErrorMessage</p>
                <button type="submit">Log In</button>
            </form>
            <p>Don't have an account? <a asp-action="Index" asp-controller="Registration">Sign Up</a></p>
        </div>
    </div>
</body>
</html>