﻿@{
    ViewData["Title"] = "Products";
    Layout = "_Layout";
}
@model List<FinalProject.AdditionalModels.ProductViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link rel="stylesheet" href="~/css/site.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


<div class="customers-page">

    <div class="options">
        <h4>Order by</h4>
        <div>
            <ul>
                <li><a asp-controller="Product" asp-action="OrderByName">Product name</a></li>
                <li><a asp-controller="Product" asp-action="OrderByQuantity">Quantity per unit</a></li>
                <li><a asp-controller="Product" asp-action="OrderByPrice">Unit price</a></li>
                <li><a asp-controller="Product" asp-action="OrderByInStock">Units in stock</a></li>
                <li><a asp-controller="Product" asp-action="OrderByCategory">Category name</a></li>
                <li><a asp-controller="Product" asp-action="OrderByTotal">Total quantity</a></li>
            </ul>
            <form asp-controller="Product" asp-action="Index">
                <button class="options-button" type="submit">Reset</button>
            </form>
        </div>

        <h4>Products in range</h4>
        <form asp-controller="Product" asp-action="FilterByPrice" method="post">
            <div class="price-slider">
                <div id="price-range"></div>
                <div class="price-range-values" id="price-range-values">
                    <span id="price-min"></span> - <span id="price-max"></span>
                </div>
            </div>

            <input type="hidden" name="minPrice" value="0" />
            <input type="hidden" name="maxPrice" value="1000" />

            <button type="submit" class="range-button">Submit</button>
        </form>


    </div>

    <div class="page-container">
        <div class="product-container">
            <div class="bg-image"></div>
            <h1>Products</h1>
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>Product name</th>
                        <th>Quantity per unit</th>
                        <th>Unit price</th>
                        <th>Units in stock</th>
                        <th>Category name</th>
                        <th>Total quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ProductName</td>
                            <td>@item.QuantityPerUnit</td>
                            <td>@item.UnitPrice</td>
                            <td>@item.UnitsInStock</td>
                            <td>@item.CategoryName</td>
                            <td>@item.TotalQuantity</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(function () {
        // Инициализация слайдера
        $("#price-range").slider({
            range: true, // Позволяет выбирать диапазон значений
            min: 0,      // Минимальное значение
            max: 500,   // Максимальное значение (замените на ваше значение)
            values: [0, 1000], // Начальный диапазон значений
            slide: function (event, ui) {
                // Обновление значений минимума и максимума
                $("#price-min").text(ui.values[0]);
                $("#price-max").text(ui.values[1]);

                // Установка значений в поля формы
                $("input[name='minPrice']").val(ui.values[0]);
                $("input[name='maxPrice']").val(ui.values[1]);
            }
        });
        // Установка начальных значений в элементах
        $("#price-min").text($("#price-range").slider("values", 0));
        $("#price-max").text($("#price-range").slider("values", 1));
    });
</script>



