﻿@{
    ViewData["Title"] = "Customers";
    Layout = "_Layout";
}
@model FinalProject.AdditionalModels.CustomersViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link rel="stylesheet" href="~/css/site.css">

<div class="customers-page">

    <div class="options">
        <h4>Order by</h4>
        <div>
            <ul>
                <li><a asp-controller="Customers" asp-action="OrderByName">Contact name</a></li>
                <li><a asp-controller="Customers" asp-action="OrderById">Customer Id</a></li>
                <li><a asp-controller="Customers" asp-action="OrderByCompany">Company name</a></li>
                <li><a asp-controller="Customers" asp-action="OrderByAdress">Address</a></li>
                <li><a asp-controller="Customers" asp-action="OrderByCity">City</a></li>
                <li><a asp-controller="Customers" asp-action="OrderByCountry">Country</a></li>
            </ul>
        </div>
        @if (Model.Countries != null)
        {
            <h4>Customers from</h4>
            <form asp-controller="Customers" asp-action="ChooseFromCountries" method="post">
                <div>
                    <ul>
                        @foreach(var item in Model.Countries)
                        {
                            <li>
                                <label>
                                    <input type="checkbox" name="selectedCountries" value="@item" />
                                    @item
                                </label>
                            </li>
                        }
                    </ul>
                </div>
                <button class="options-button" type="submit">Submit</button>
            </form>
            <form asp-controller="Customers" asp-action="Reset">
                <button class="options-button" type="submit">Reset</button>
            </form>
        }
    </div>

    <div class="page-container">
        <div class="customerpage-container">
            <div class="bg-image"></div>
            <h1>Top 50 customers</h1>
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>Contact name</th>
                        <th>Customer Id</th>
                        <th>Company name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Phone</th>
                    </tr>
                 </thead>
                <tbody>
                    @foreach (var item in Model.Customers)
                    {
                        <tr>
                            <td>@item.ContactName</td>
                            <td>@item.CustomerId</td>
                            <td>@item.CompanyName</td>
                            <td>@item.Address</td>
                            <td>@item.City</td>
                            <td>@item.Country</td>
                            <td>@item.Phone</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>



